@font-face{
    font-family: "playfair-regular";
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
}

@import "variables";
@import "../bootstrap/bootstrap.scss";


.title-principal,.title-secondary{
    font-family: 'playfair-regular';
}

.title-principal{
    color:$title-color-principal;
}

.title-secondary{
    color:$title-color-secondary;
}

a.navbar-brand > img {
    height:20px;
}

#nav-top{
    > *:not(button){
        flex-basis: 50%;
    }
}